{{- $fullName := include "wg-access-server.fullname" . -}}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ $fullName }}"
  labels:
    {{- include "wg-access-server.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if and .Values.wireguard.config.secretRefKeys.privateKey (not .Values.wireguard.config.existingSecret) }}
  {{ .Values.wireguard.config.secretRefKeys.privateKey }}: {{ .Values.wireguard.config.privateKey | b64enc | quote }}
  {{- end }}
  {{- if and .Values.web.config.basicAuthEnabled (not .Values.web.config.existingSecret) }}
  {{- if .Values.web.config.adminUsername }}
  {{ .Values.web.config.secretRefKeys.adminUsername }}: {{ .Values.web.config.adminUsername | b64enc | quote }}
  {{- end }}
  {{ .Values.web.config.secretRefKeys.adminPassword }}: {{ (include "wg-access-server.adminPassword" .) | b64enc | quote }}
  {{- end }}
  {{- if and .Values.postgresql.uri (not .Values.postgresql.existingSecret) }}
  {{ .Values.postgresql.secretRefKeys.uri }}: {{ .Values.postgresql.uri | b64enc | quote }}
  {{- end }}
  {{- if and .Values.secretConfig.config (not .Values.secretConfig.existingSecret) }}
  {{ .Values.secretConfig.secretRefKeys.config }}: {{ toYaml .Values.secretConfig.config | b64enc | quote }}
  {{- end }}
